{% extends "layout1.html" %}
{% block content %}
<div class="row justify-content-center byn">
    <div class="col-md-6">
        <span class="anchor" id="formReg"></span>
        <!-- form card reg -->
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Login</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %} {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback"> {% for error in form.email.errors %} <span>{{ error }}</span>
                                {% endfor %} </div> {% else %} {{ form.email(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password.label(class="form-control-label") }}
                            {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback"> {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %} </div> {% else %} {{ form.password(class="form-control") }}
                            {% endif %}
                        </div>

                    </fieldset>
                    <div class="form-group">
                        {{form.submit(class="btn btn-success btn-lg float-right")}}
                    </div>

                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Don't have a have an account? <a class="ml-1" href="{{ url_for('register') }}">Sign Up</a>
                    </small>
                </div>
            </div>
            <!--/card-block-->
        </div><!-- /form card login -->
    </div>
</div>
{% endblock content %}